
 *{
        padding: 10;
        margin: 10;
        box-sizing: border-box;
} 

body {
    background-color: rgb(246, 253, 255);
}

.text-container { 
    display: flex;
    justify-content: left;  
    align-items: top;
    height:fit-content;
    word-wrap: break-word;
word-break: break-all;
} 


.output-text {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    width: 90%;
}


p {
    font-size: 1.2rem;
    word-wrap: break-word;
    word-break: break-all;
}

.js {

     color:rgb(34, 34, 34);
}

.text {
    color: rgb(14, 22, 22); 
}

.cursor {
    background: #160077bd;
}

